.home-page{
    /* background-image: url("../assets/banner-bg.png"); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4.5em;
    width: 100vw;
}
